<html>
<head></head>
<body>
<h1> vous etes sur la 4éme page </h1>
<h1> utiliser cette page pour rajouter des éléments </h1>


<h4>Remplir les champs à ajouter à la base de données </h1>

<form action = "http://localhost:5001/result" name="form_demo" method="post">

  <label for="age">age :</label>
  <input type="text" id="fage" name="nage"><br><br>

  <label for="gender">gender:</label>
  <input type="text" id="gname" name="ngender"><br><br>

  <label for="cname">City:</label>
  <input type="text" id="cname" name="ncity"><br><br>
  <p><input type = "submit" value = "submit" /></p></form>


</br><a href="http://localhost:5001/"> la page d'accueil </a></br>

</body> 
</html>
